ELEVENLABS_API_KEY=sk_e405f922339ca03bc544b6f42afac6b02a8463b2a80c4c4a
ELEVENLABS_VOICE_ID=hdQlfaVzhr2e2ag3UfX3
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_TIMEOUT=15
ELEVENLABS_STABILITY=0.30
ELEVENLABS_SIMILARITY_BOOST=0.85
ELEVENLABS_STYLE=0.40
ELEVENLABS_USE_SPEAKER_BOOST=true
